@import 'tailwindcss';

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-gradient: white;
}

html,
body {
    margin: 0;
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
}

#root {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: auto;
    background: var(--bg-gradient);
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
}
