@import 'tailwindcss';

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-gradient: white;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    background: var(--bg-gradient);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
}
