services:
    app:
        build: ./
        env_file:
            - .env
        environment:
            - HF_TOKEN
            - NEWS_API_TOKEN
            - SUPABASE_URL
            - SUPABASE_KEY
