version: "3.9"

services:
    app:
        build: ./
        ports:
            - "3300:3300"
        restart: unless-stopped
        environment:
            - HF_TOKEN
            - NEWS_API_TOKEN
            - SUPABASE_URL
            - SUPABASE_KEY
